<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Budget request</title>
</head>
<body class="m-0 p-0">
  <div class="flex flex-col ">
    <!-- Header -->
    <app-header class="top-0 shadow-md w-full"
    [link1]="'Budget proposal creation'" [route1]="'/directorCreateProposal'"
    [link2]="'Budget overview'" [route2]="'/'"
    [link3]="'Loan creation'" [route3]="'/loan'"
    [link4]="'Loan payoff'" [route4]="'/loanPayoff'"></app-header>

    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-gray-300 py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
              <div class="mx-auto max-w-2xl sm:text-center">
                <h2 class="text-3xl font-bold tracking-tight text-black-100 sm:text-4xl">Loan payoff</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">Pay now and be able to request another loan.</p>
                <p class="mt-6 text-lg leading-8 text-gray-600">Current balance:</p>
                <input type="text" class="text-5xl font-bold tracking-tight text-black-700 bg-gray-300 rounded-lg p-2 w-24" [value]="balance" readonly>
                <span class="text-sm font-semibold leading-6 tracking-wide text-black-700">EUR</span>
              </div>
              <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-red-600 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
                
                <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
                    <div class="rounded-2xl bg-red-700 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                      <div class="mx-auto max-w-xs px-8">
                        <p class="mt-6 flex items-baseline justify-center gap-x-2">
                          <input type="text" class="text-5xl font-bold tracking-tight text-black-700 bg-red-200 rounded-lg p-2 w-24" [value]="ammount" readonly>
                          <span class="text-sm font-semibold leading-6 tracking-wide text-black-700">EUR</span>
                        </p>
                      </div>
                      <br>
                      <form (ngSubmit)="payLoan()">
                        <button type="submit" class="w-32 bg-gradient-to-r from-red-700 to-red-900 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mb-2">Pay</button>
                      </form>
                    </div>
                  </div>
                  
                  
              </div>
            </div>
          </div>
        
    </div>

  </div>

  

</body>
</html>

