<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
    <div class="login-form">
      <h2 class="login-label">Register new user</h2>
      <label for="firstName" class="placeholder-label">First Name</label>
      <input type="text" id="firstname" class="login-input" placeholder="Enter the first name" [(ngModel)]="firstName">
      <label for="lastName" class="placeholder-label">Last Name</label>
      <input type="text" id="lastname" class="login-input" placeholder="Enter the last name" [(ngModel)]="lastName">
      <label for="username" class="placeholder-label">Username</label>
      <input type="text" id="username" class="login-input" placeholder="Enter the username" [(ngModel)]="username">
      <label for="password" class="placeholder-label">Password</label>
      <input type="password" id="password" class="login-input" placeholder="Enter the password" [(ngModel)]="password">
      <label for="role" class="placeholder-label">Role</label>
      <select name="role" [(ngModel)]="role">
        <option value="SHOP_MANAGER">Shop manager</option>
        <option value="HEAD_COACH">Head coach</option>
        <option value="ASSISTANT_COACH">Assistant coach</option>
        <option value="EVENT_ORGANIZATOR">Event organizator</option>
        <option value="DIRECTOR">Director</option>
      </select>
      <form (ngSubmit)="register()" class="button-group">
        <button type="submit" class="register-button">Add user</button>
      </form>
      <form (ngSubmit)="logOut()" class="button-group">
        <button type="submit" class="login-button">Log out</button>
      </form>
    </div>
  </body>
</html>