<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shop management</title>
</head>
<body class="m-0 p-0">
  <div class="flex flex-col ">
    <!-- Header -->
    <app-header class="top-0 shadow-md w-full"
    [link1]="'Shop'" [route1]="'/articlesDashboard'"
    [link2]="'Fan base'" [route2]="'/'"></app-header>

    <!-- Subheader -->
    <app-subheader></app-subheader>
  </div>
  <!-- White canvas -->
  <main class="flex-grow bg-white rounded-lg shadow-md px-4 py-9 my-8 mx-8">
    <app-article-list> </app-article-list>
  </main>
</body>
</html>

