<div class="mx-4">
    <div class="overflow-x-auto">
      <!-- Table div -->
      <div class="py-2 align-middle inline-block min-w-full">
        <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="px-6 py-3 text-left font-bold text-black uppercase tracking-wider">For sporting</th>
                <th scope="col" class="px-6 py-3 text-left font-bold text-black uppercase tracking-wider">For marketing</th>
                <th scope="col" class="px-6 py-3 text-left font-bold text-black uppercase tracking-wider">For event organization</th>
                <th scope="col" class="px-6 py-3 text-left font-bold text-black uppercase tracking-wider">Vote</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let budget of budgets"  class="hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap">{{budget.sportingAmmount}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{budget.marketingAmmount}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{budget.eventOrgAmmount}}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <button (click)="voteForProposal(budget.id)" [value]="budget.id" [disabled]="budget.voted" class="rounded-lg py-1.5 px-4 bg-white border-solid border border-neutral-900 font-medium text-neutral-700
                                  hover:bg-neutral-800 hover:text-white">
                    Vote
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showModal" id="popup-modal" tabindex="-1" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-black-700 border border-black border-2">
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-green-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-black-500 dark:text-gray-400">Succesfully voted!</h3>
            </div>
        </div>
    </div>
  </div>