<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  <title>Register</title>
</head>
<body class="flex flex-col min-h-screen m-0 p-0">

  <app-header class="fixed top-0 shadow-md w-full"></app-header>

  <main class="flex-grow bg-white rounded-lg shadow-md px-16 py-9 my-0" style="padding-top: 15vh;">
    <div>

      <!-- HOTEL DIALOG -->
      <div class="dialog hidden" *ngIf="isHotelDialogOpen" style="overflow-y: auto;">
        
        <div *ngIf="isHotelDialogOpen">
          <h2>Hotels in {{ city }}</h2>
          <ul *ngIf="hotels.length > 0">
            <li *ngFor="let hotel of hotels">
              
              <button type="submit" class="small-light-gray-button ml-4" (click)="reserveHotel(hotel.hotelName)" >
                {{ hotel.hotelName }} - {{ hotel.hotelPrice | currency:'EUR' }} per night (Rating: {{ hotel.hotelRating }})
              </button>
                
              
            </li>
          </ul>
          <p *ngIf="hotels.length === 0">No hotels found for {{ city }}</p>
        </div>
        
        <button type="button" class="close" (click)="closeDialog()">Close</button>
      </div>
      <!-- TRANSPORT DIALOG -->

      <div class="dialog hidden" *ngIf="isTransportDialogOpen" style="overflow-y: auto;">
        
        <div *ngIf="isTransportDialogOpen">
          <h2>Hotels in {{ city }}</h2>
          <ul *ngIf="hotels.length > 0">
            <li *ngFor="let hotel of hotels">
              
              <button type="submit" class="small-light-gray-button ml-4" (click)="reserveTransport(hotel.hotelName)" >
                {{ hotel.hotelName }} - {{ hotel.hotelPrice | currency:'EUR' }} per night (Rating: {{ hotel.hotelRating }})
              </button>
                
              
            </li>
          </ul>
          <p *ngIf="hotels.length === 0">No hotels found for {{ city }}</p>
        </div>
        
        <button type="button" class="close" (click)="closeDialog()">Close</button>
      </div>

      <!-- FIELD DIALOG -->
      <div class="dialog hidden" *ngIf="isFieldDialogOpen" style="overflow-y: auto;">
        
        <div *ngIf="isFieldDialogOpen">
          <h2>Hotels in {{ city }}</h2>
          <ul *ngIf="hotels.length > 0">
            <li *ngFor="let hotel of hotels">
              
              <button type="submit" class="small-light-gray-button ml-4" (click)="reserveField(hotel.hotelName)" >
                {{ hotel.hotelName }} - {{ hotel.hotelPrice | currency:'EUR' }} per night (Rating: {{ hotel.hotelRating }})
              </button>
                
              
            </li>
          </ul>
          <p *ngIf="hotels.length === 0">No hotels found for {{ city }}</p>
        </div>
        
        <button type="button" class="close" (click)="closeDialog()">Close</button>
      </div>
      <!-- END -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-2">Type</label>

        <div class="custom-dropdown">
          <select [(ngModel)]="gameType" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 rounded-md w-1/4 px-3 py-2 border border-gray-300">
            <option *ngFor="let name of gameTypes" [value]="name">
              {{ name }}
            </option>
          </select>
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-2">Event name</label>

        <input type="text" id="eventName" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 rounded-md w-1/4 px-3 py-2 border border-gray-300" [(ngModel)]="eventName" placeholder="Enter the event name">

      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-2">Start Date</label>

        <input type="date" id="startDate" min="2024-05-23" datepicker-format="mm-dd-yyyy" [(ngModel)]="startDate" class="w-1/4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-2">End Date</label>

        <input type="date" id="startDate" min="2024-05-23" datepicker-format="mm-dd-yyyy" [(ngModel)]="endDate" class="w-1/4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-2">Country</label>

        <div class="custom-dropdown">
          <select [(ngModel)]="country" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 rounded-md w-1/4 px-3 py-2 border border-gray-300">
            <option *ngFor="let name of countries" [value]="name" >
              {{ name }}
            </option>
          </select>
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-2">City</label>

        <div class="custom-dropdown">
          <select [(ngModel)]="city" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 rounded-md w-1/4 px-3 py-2 border border-gray-300">
            <option *ngFor="let name of cities" [value]="name">
              {{ name }}
            </option>
          </select>
        </div>
      </div>

      <button type="submit" class="big-light-gray-button" (click)="openHotelDialog()" [disabled]="!allInputsFilled()" [class.big-light-gray-button-disabled]="!allInputsFilled()" >
        Hotels
      </button>
      <button type="submit" class="big-light-gray-button ml-4" (click)="openTransportDialog()" [disabled]="!allInputsFilled() && !transportDisable()"   [class.big-light-gray-button-disabled]="!transportDisable()" [class.big-light-gray-button-disabledd]="!allInputsFilled()">
        Transports & Security
      </button>
      <button type="submit" class="big-light-gray-button ml-4" (click)="openFieldDialog()" [disabled]="!allInputsFilled()" [class.big-light-gray-button-disabled]="!allInputsFilled()">
        Playing fields
      </button>
      
    </div>
  </main>

  <div *ngIf="showModal" id="popup-modal" tabindex="-1" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-black-700 border border-black border-2">
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-green-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-black-500 dark:text-gray-400">New user added successfully!</h3>
                <button (click)="hideModal()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Got it!</button>
            </div>
        </div>
    </div>
  </div>
  
</body>
</html>

