/* 
  .header {
    background-color: #ffffff;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
  }
  
  .logo_img {
    max-height: 50px; 
    width: auto; 
  }
  
  .dashboard-link {
    margin-left: 1px;
    color: #e22726;
    font-size: 1.25rem; 
    white-space: nowrap; 
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    cursor: pointer; 
  }
  
  .icon {
    margin: 0 16px; 
  }
  
  .bell-icon {
    width: 24px; 
  }
  
  .chevron-icon {
    width: 12px;
  }
  
  .ellipse {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: linear-gradient(#e22726, #1f1f1f);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
  }
  
  .modal {
    position: fixed;
    top: 7%;
    right: 1%;
    background-color: #ffffff;
    width: 224px;
    height: 164px;
    z-index: 9999;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 16px;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .edit-profile-button, .deny-button {
    width: 100%; 
    margin: 8px 0; 
    padding: 10px;
    border-radius: 8px;
    border: none; 
  }
  
  .edit-profile-button {
    background-color: #ffffff;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
  }
  
  .deny-button {
    background-color: #F9D4D4;
    color: #E22726;
  }
   */
