<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="login-form">
      <img src="assets/logo.png" class="logo_img">
      <h2 class="login-label" style="font-weight: bold;">Log in</h2>
      <label for="username" class="placeholder-label">Username</label>
      <input type="text" id="username" class="login-input" placeholder="Enter your username" [(ngModel)]="username">
      <label for="password" class="placeholder-label">Password</label>
      <input type="password" id="password" class="login-input" placeholder="Enter your password" [(ngModel)]="password">
      <form (ngSubmit)="login()">
        <button type="submit" class="login-button">Log in</button>
      </form>
      <div class="line-or-line">
        <div class="line_div"></div>
        <p class="text-9xm" style="margin-left: 24px; margin-right: 24px; color: #1f1f1f">OR</p>
        <div class="line_div"></div>
      </div>  
      <p>You don’t have a fan account? <u>Create one here</u></p>
    </div>
  </body>
</html>