<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  <title>Register</title>
</head>
<body class="flex flex-col min-h-screen m-0 p-0">

  <app-header class="fixed top-0 shadow-md w-full"></app-header>

  <main class="flex-grow bg-white rounded-lg shadow-md px-16 py-9 my-0" style="padding-top: 15vh;">
    <div>
      
      <div class="box">
        <p class="text-2xl font-medium mb-10">My Events</p>
        
        <div class="hotel-list">
          
          <ul *ngIf="reservations.length > 0">
            <li *ngFor="let reservation of reservations">
              
              <button type="submit" class="small-light-gray-button ml-4"  >
                {{ reservation.reservationHotelName}}  {{ reservation.reservationTransportName}}  {{ reservation.reservationFieldName}} 
              </button>
                
              
            </li>
            
          </ul>
          <p *ngIf="reservations.length === 0">No hotels found for {{ city }}</p>
        </div>






      </div>






      <!-- HOTEL DIALOG -->
      <div class="dialog hidden" *ngIf="isHotelDialogOpen" style="overflow-y: auto;">
        
        <div *ngIf="isHotelDialogOpen">
          <h2>Hotels in {{ city }}</h2>
          <ul *ngIf="hotels.length > 0">
            <li *ngFor="let hotel of hotels">
              
              <button type="submit" class="small-light-gray-button ml-4"  >
                {{ hotel.hotelName }} - {{ hotel.hotelPrice | currency:'EUR' }} per night (Rating: {{ hotel.hotelRating }})
              </button>
                
              
            </li>
          </ul>
          <p *ngIf="hotels.length === 0">No hotels found for {{ city }}</p>
        </div>
        
        <button type="button" class="close" (click)="closeDialog()">Close</button>
      </div>
      <!-- TRANSPORT DIALOG -->

      <div class="dialog hidden" *ngIf="isTransportDialogOpen" style="overflow-y: auto;">
        
        <div *ngIf="isTransportDialogOpen">
          <h2>Hotels in {{ city }}</h2>
          <ul *ngIf="hotels.length > 0">
            <li *ngFor="let hotel of hotels">
              
              <button type="submit" class="small-light-gray-button ml-4"  >
                {{ hotel.hotelName }} - {{ hotel.hotelPrice | currency:'EUR' }} per night (Rating: {{ hotel.hotelRating }})
              </button>
                
              
            </li>
          </ul>
          <p *ngIf="hotels.length === 0">No hotels found for {{ city }}</p>
        </div>
        
        <button type="button" class="close" (click)="closeDialog()">Close</button>
      </div>

      <!-- FIELD DIALOG -->
      <div class="dialog hidden" *ngIf="isFieldDialogOpen" style="overflow-y: auto;">
        
        <div *ngIf="isFieldDialogOpen">
          <h2>Hotels in {{ city }}</h2>
          <ul *ngIf="hotels.length > 0">
            <li *ngFor="let hotel of hotels">
              
              <button type="submit" class="small-light-gray-button ml-4"  >
                {{ hotel.hotelName }} - {{ hotel.hotelPrice | currency:'EUR' }} per night (Rating: {{ hotel.hotelRating }})
              </button>
                
              
            </li>
          </ul>
          <p *ngIf="hotels.length === 0">No hotels found for {{ city }}</p>
        </div>
        
        <button type="button" class="close" (click)="closeDialog()">Close</button>
      </div>
      <!-- END -->
      
    </div>
  </main>

  <div *ngIf="showModal" id="popup-modal" tabindex="-1" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-black-700 border border-black border-2">
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-green-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-black-500 dark:text-gray-400">New user added successfully!</h3>
                <button (click)="hideModal()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Got it!</button>
            </div>
        </div>
    </div>
  </div>
  
</body>
</html>

